<%- include('./header') %>

        <!-- profile page -->
        <div id="profile-section">
            <!-- first name -->
            <p>first name: <span id="profile-first-name"></span></p>
            
            <!-- last name -->
            <p>last name: <span id="profile-last-name"></span></p>

            <!-- email -->
            <p>email: <span id="profile-email"></span></p>

        </div>
<%- include('./footer') %>
