        <%- include('./header') %>
        <!-- w3school login -->
        <div id="login-form" class="container">
            <form action="" class="">
                <!-- email -->
                <div class="row">
                    <div class="col-25">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="email" id="lemail" name="lemail" placeholder="Your email.."  required>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="col-25">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" id="lpassword" name="lpassword" placeholder="Your password.."  autocomplete="false" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    </div>
                    <div class="col-75">
                        <input type="submit" id="password" name="password" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <%- include('./footer') %>
