        <%- include('./header') %>
        <!-- sign up -->
        <div >
            <div class="container">
                <form id="signup-form" action="" class="">
                    <!-- firstname -->
                    <div class="row">
                        <div class="col-25">
                            <label for="firstname">First Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="sfirstname" name="sfirstname" placeholder="Your first name.." required>
                        </div>
                    </div>
                    <!-- lastname -->
                    <div class="row">
                        <div class="col-25">
                            <label for="lastname">Last Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="slastname" name="slastname" placeholder="Your last name.." required>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="row">
                        <div class="col-25">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-75">
                            <input type="email" id="semail" name="semail" placeholder="Your email.." required>
                        </div>
                    </div>
                    <!-- password -->
                    <div class="row">
                        <div class="col-25">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-75">
                            <input type="password" id="spassword" name="spassword" placeholder="Your password.." autocomplete="false"  required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                        </div>
                        <div class="col-75">
                            <input type="submit" id="sbutton" name="sbutton" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%- include('./footer') %>
