        <%- include('./header') %>
        <!-- sign up -->
        <div id="signup-form">
            <div class="container">
                <form action="" class="">
                    <!-- firstname -->
                    <div class="row">
                        <div class="col-25">
                            <label for="firstname">First Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="firstname" name="firstname" placeholder="Your first name..">
                        </div>
                    </div>
                    <!-- lastname -->
                    <div class="row">
                        <div class="col-25">
                            <label for="lastname">Last Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
                        </div>
                    </div>
                    <!-- email -->
                    <div class="row">
                        <div class="col-25">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-75">
                            <input type="email" id="email" name="email" placeholder="Your email..">
                        </div>
                    </div>
                    <!-- password -->
                    <div class="row">
                        <div class="col-25">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-75">
                            <input type="password" id="password" name="password" placeholder="Your password..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                        </div>
                        <div class="col-75">
                            <input type="submit" id="password" name="password" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%- include('./footer') %>
